<div class="task-view-wrapper" *ngIf="task">
    <!-- Header -->
    <div class="header">
        <button mat-icon-button class="back-btn" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="status-pill" [ngClass]="{
        'pill-pending': task.status === 'PENDING',
        'pill-completed': task.status === 'COMPLETED',
        'pill-late': task.status === 'LATE',
        'pill-overdue': task.status === 'OVERDUE'
      }">
            {{ task.status }}
        </span>
    </div>

    <!-- Task Title -->
    <div class="description">
        <p><b>Title:</b> {{ task.task }}</p>
    </div>

    <!-- Task Description -->
    <div class="description">
        <p> <b>Description:</b> {{ task.description }}</p>
    </div>

    <!-- Dates -->
    <div class="details">
        <div class="detail-row">
            <span class="label">Assigned Date:</span>
            <span class="value">{{ formatDateTime(task.assignedDate)}}</span>
        </div>
        <div class="detail-row">
            <span class="label">Target Date:</span>
            <span class="value">{{ formatDateTime(task.targetDate)}}</span>
        </div>
        <div class="detail-row" *ngIf="task.submissionDate">
            <span class="label">Submission Date:</span>
            <span class="value">{{ formatDateTime(task.submissionDate)}}</span>
        </div>

        <div *ngIf="['COMPLETED', 'LATE'].includes(task.status)" class="ratings-section">

            <!-- Employee Rating -->
            <div class="rating-display">
                <label><b>Your Rating</b></label>
                <div class="show-stars">
                    <mat-icon *ngFor="let star of [1,2,3,4,5]" [ngClass]="{'filled': star <= task.empRating}">
                        {{ star <= task.empRating ? 'star' : 'star_border' }} </mat-icon>
                </div>
            </div>

            <!-- Admin Rating -->
            <div *ngIf="task.adminRating != null && task.adminRating !=0" class="rating-display">
                <label><b>Admin Rating</b></label>
                <div class="show-stars">
                    <mat-icon *ngFor="let star of [1,2,3,4,5]" [ngClass]="{'filled': star <= task.adminRating}">
                        {{ star <= task.adminRating ? 'star' : 'star_border' }} </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="actions" *ngIf="!['COMPLETED', 'LATE'].includes(task.status)">
        <button mat-raised-button color="primary" class="btn-submit" (click)="openSubmitDialog()">
            Submit Task
        </button>
    </div>
</div>

<!-- Submit Confirmation Dialog -->
<ng-template #submitDialog>
    <div class="submit-dialog">

        <p>Do you want to submit the Task?</p>

        <!-- ⭐ Employee Rating -->
        <div class="rating-box">
            <label class="rating-label"><b>Rate Your Work</b></label>

            <div class="stars">
                <mat-icon *ngFor="let star of [1,2,3,4,5]" (click)="empRating = star"
                    [ngClass]="{'filled': star <= empRating}">
                    {{ star <= empRating ? 'star' : 'star_border' }} </mat-icon>
            </div>
        </div>

        <div class="submit-dialog-actions">
            <button mat-stroked-button color="warn" (click)="closeSubmitDialog()">
                No
            </button>

            <button mat-flat-button color="primary" (click)="confirmSubmit()">
                Yes
            </button>
        </div>

    </div>
</ng-template>