<div class="task-view-wrapper">
    <!-- Header -->
    <div class="header">
        <button mat-icon-button class="back-btn" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="status-pill" [ngClass]="{
        'pill-pending': task.status === 'Pending',
        'pill-completed': task.status === 'Completed',
        'pill-late': task.status === 'Late'
      }">{{ task.status }}</span>
    </div>

    <!-- Description -->
    <div class="description">
        <p>{{ task.task }}</p>
    </div>

    <!-- Description -->
    <div class="description">
        <p>{{ task.description }}</p>
    </div>

    <!-- Dates -->
    <div class="details">
        <div class="detail-row">
            <span class="label">Assigned Date:</span>
            <span class="value">{{ task.assignedDate | date:'mediumDate' }}</span>
        </div>
        <div class="detail-row">
            <span class="label">Target Date:</span>
            <span class="value">{{ task.targetDate | date:'mediumDate' }}</span>
        </div>
        <div class="detail-row" *ngIf="task.submissionDate">
            <span class="label">Submission Date:</span>
            <span class="value">{{ task.submissionDate | date:'mediumDate' }}</span>
        </div>
    </div>

    <!-- Submit Button -->
    <div class="actions" *ngIf="task.status === 'Pending'">
        <button mat-raised-button color="primary" class="btn-submit" (click)="openSubmitDialog()">
            Submit Task
        </button>
    </div>
</div>


<ng-template #submitDialog>
    <div class="submit-dialog">
        <p>Do you want to submit the Task ??</p>
        <div class="submit-dialog-actions">
            <button mat-stroked-button color="warn" (click)="closeSubmitDialog()">No</button>
            <button mat-flat-button color="primary">Yes</button>
        </div>
    </div>
</ng-template>