/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4b4f94;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3e7a;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b4f94 #f1f1f1;
}

.success-snackbar {
  --mdc-snackbar-container-color: #224f34 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.2) !important;
  white-space: pre-wrap;
}

.failed-snackbar {
  --mdc-snackbar-container-color: #a82e2e !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.2) !important;
  white-space: pre-wrap;
}
